@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --primary-color: #46702c;
    --primary-color-rgb: 70,112,44;
    --secondary-color: #E38F1DFF;
    --secondary-color-rgb: 227,143,29;
    --secondary-color-rgba: rgba(227,143,29, 70%);
    --primary-color-hover: #375922;
    --add-cart-btn-color: #470;
    --error-color: #df1b41;
    --error-color-rgb: 194,0,0;
}

body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background: white;
}
a {
    color: black;
}
section {
    padding-top: 6em;
    padding-bottom: 6em;
    margin-bottom: 6em;
}

/***************** NAV ******************/
.logo {
    float: left;
    display: block;
    font-size:2em;
    padding: 10px 20px;
    color: white;
}
.navbar {
    background-color: var(--primary-color);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}
.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--primary-color);
}
.navbar ul li {
    display: block;
}

.navbar ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}
.navbar-link-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navbar-search-bar-container {
    min-width: 40%;
    flex-grow: 1;
    display: flex;
}
.navbar-search-bar-container button {
    float: right;
    padding: 6px 10px;
    margin: 14px 0;
    border: solid thin gray;
    border-radius: 0 5px 5px 0;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
}
.navbar-search-bar-container button:hover {
    background: #ccc;
}

#search-bar {
    width: 100%;
    margin: 14px 0;
    padding: 0.75em;
    border-radius: 5px 0 0 5px;
    border: solid thin gray;
    outline: none;
    transition: all 0.1s ease;
}
#search-bar:focus {
    border: solid thin #3a3a3a;
}
.menu li:hover, .dropdown-content a:hover, .account-links li:hover, .list-dropdown:hover, .dropdown-links:hover {
    text-decoration: underline;
}
.menu {
    display: none;
    max-height: 0;
}
.menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}
.nav-icon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
}
.nav-icon:before {
    background: #333;
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    top:5px;
}
.nav-icon:after {
    background: #333;
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav ul {
    list-style: none;
}
.sidenav-header {
    display: block;
    color: rgb(255 211 149);
    padding: 8px 8px 8px 32px;
    font-size: 22px;
}

.sidenav a {
    padding: 8px 8px 8px 0;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}


.closebtn {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.dropdown-content {
    max-height: 0;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


@media (min-width:1058px) {
    .navbar li {
        float: left;
    }
    .navbar li a {
        padding:20px 30px;
    }
    .list-dropdown, .dropdown {
        padding: 0;
    }

    .navbar .menu {
        display: block;
        clear: none;
        float: right;
        max-height: none;
    }
    .navbar .menu-icon {
        display: none;
    }
    .dropdown .fa-caret-down {
        visibility: visible;
    }
    .dropbutton-container {
        display: block;
    }

    .dropbutton, .account-dropbutton{
        padding: 20px;
        font-size: 16px;
        border: none;
        outline: none;
        color: #ffffff;
        background-color: inherit;
        font-family: inherit;
        margin: auto;
    }
    .dropdown-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--primary-color);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        transition: max-height .5s ease-out;
    }

    .dropdown-content a {
        float: none;
        color: #ffffff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

}

.menu-btn {
    display: none;
}
.navbar-link-header {
    display: block;
    color: gray;
}
.dropdown-links {
    transition: all 0.2s ease;
}
.account-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.account-dropbutton{
    padding: 20px;
}
.account-dropdown {
    padding: 0;
}

.account-dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: max-height .5s ease-out;
}

.account-dropdown, .account-dropbutton-container, .account-dropbutton {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: inherit;
    font-family: inherit;
    margin: auto;
}


/********* INDEX *********/
.landing-page-hero {
    width: 100%;
    padding-top:4em;
    height: 500px;
    background-image: url("http://localhost:8084/images/grocery-hero-image.jpeg");
    background-position: center;
    background-size: cover;
}

.spin {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.loading-spinner  {
    display: inline-block;
    height: 100%;
    aspect-ratio: 1/1;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: black;
    animation: spin .75s ease-in-out infinite;
    -webkit-animation: spin .75s ease-in-out infinite;
}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
/*** INDEX - Add to cart button ****/
.add-to-cart-button {
    display: flex;
    background-color: #470;
    color: white;
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 10%;
    padding: 0.5em;
    cursor: pointer;
    transition: all 0.2s ease;
    align-items: center;
    justify-content: center;
}

.add-to-cart-button:hover {
    background-color: #559400;
}
.success-animation {
    margin: auto;
    width: 15%;
    bottom: 9px;
    position: relative;
}
.checkmark {
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #ffffff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #470;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    position:relative;
    top: 5px;
    /*right: 5px;*/
    margin: 0 auto;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #ffff;
    fill: #470;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #470;
    }
}
/**** INDEX - PRODUCT CATALOG *****/
.product-catalog-section {
    margin:0;
    padding:5em;
}
.product-catalog-product-card {
    display:flex;
    flex-direction: column;
    height:300px;
}

#product-catalog  {
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product-catalog-product-card li{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    background: white;
    list-style: none;
    width: 200px;
    height: 100%;
    float:left;
    border:none;

    text-align: center;
}
.product-catalog-product-card li a {
    text-decoration: none;
}
.product-catalog-product-card li:hover .product-name h3{
    text-decoration: underline;
}

.product-catalog-product-card li:hover {
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
    transition: all 0.2s ease-out;
}
.product-catalog-product-image {
    width: 100px;
    height: 100px;
    border-radius: 10%;

}
.product-catalog-section .product-price-unit-description {
    margin: 0;
    padding-left: 5px;
    text-align: left;
}
.product-catalog-section .product-name {
    margin: auto 0 ;
    padding-left: 5px;
    padding-bottom: 1px;
    text-align: left;
}

/************************* SHOPPING CART ****************/
#checkout-button {
    float: right;
    padding: 1em 2em;
    background: rgba(227,143,29);
    margin: 1em 0;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 50%);
}

#checkout-button:hover {
    cursor: pointer;
    background: rgba(227,143,29, 70%);
}
.shopping-cart-container {
    min-width: 48em;
    min-height:12em;
    margin: 1em 10%;
    width: 80%;
    background: white;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.7);
    list-style: none;
    flex-wrap: wrap;
    border-radius: 20px;
}
.shopping-cart-heading {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shopping-cart-heading h1 {
    font-size: 20px;
    font-family: ‘Open Sans’, sans-serif;
    font-weight: 700;
    color: #2F3841;
}
#shopping-cart {
    margin: 0;
    padding: 0 2em;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.shopping-cart-container hr {
    width: 95%;
}

.shopping-cart-container h2 {
    font-size: 1.25em;
    color: gray;
    padding: 5px 2em;
    margin: 0;
}
.shopping-cart-container h3 {
    margin:0;
    padding: 0 2.5em 10px;
}
.shopping-cart-item {
    width: 100%;
}

.remove-item-button {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    margin: auto;
}

.remove-item-icon:after {
    background: rgb(253, 70, 70);
    content: "";
    display: block;
    height: 2px;
    width: 18px;
    position: absolute;
    transform: rotate(-45deg);
}
.remove-item-icon:before {
    background: rgb(253, 70, 70);
    content: "";
    display: block;
    height: 2px;
    width: 18px;
    position: absolute;
    transform: rotate(45deg);
}


/************* PRODUCT PAGE *********/
.product-container {
    margin: 0 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.product-image-container {
    padding: 3em;
    display: flex;
    position: relative;
    float: left;
    min-width: 200px;
    min-height: 200px;
    height: 200px;
    width: 200px;
}
.product-image-container img {
    width: 100%;
    height: 100%;
}
.product-info {
    width: 40%;
    border: none;
    border-radius: 1em;
    padding: 3em;
    display: block;
    position: relative;
    float: left;
}
.product-info-header {
    color: gray;
}

.add-to-cart-container{
    margin: 1em;
    display: block;
    position: relative;
    float: left;
    border: solid thin gray;
    border-radius: 1em;
    padding: 2em;
}

.quantity-selector {
    display: block;
    position: relative;
    float: left;
    margin: 8px;
}
.quantity-selector input {
    border: none;
    width: 50px;
    font-size: 1.25em;
    line-height: 30px;
    text-align: center;
    appearance: none;
    outline: none;
}

.quantity-selector input[type=number]::-webkit-inner-spin-button,
.quantity-selector input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.decrement-quantity, .increment-quantity {
    font-size: 1.5em;
    user-select: none;
    cursor: pointer;
    color: gray;
    background: none;
    padding: 10px;
}

#add-to-cart-button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
}
#success-animation-product-page {
    width: 35%;
}
.recommended-products {
    clear: left;
}
/************************ Profile *********************/
.account-section {
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 3em;
    margin-bottom: 0;
}
.account-details,.orders-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.account-info {
    padding: 4em;
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 5px;
    border-radius: 5%;
}

.account-info h4 {
    text-decoration: underline;
}



/************************ Order **********************/
.orders-section {
    padding: 3em 4em;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    border-radius: 20px;
    width: 800px;
    margin: 1em;
    box-shadow: 1px 1px 5px;
}

.order-info {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em;
    border-bottom: solid gray thin;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #f6f6f6;
}

.order-details, .shopping-cart-item-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.order-product-image img{
    width: 100px;
    height: 100px;
}
.order-product-name {
    width: 400px;
}
.order-product-name span {
    overflow-wrap:break-word;
}
.order-product-name a{
    color: steelblue;
    transition: color 0.25s ease;
    text-decoration: none;
}
.order-product-name a:hover {
    color: rgba(70,130,180, 50%);
}
.order-product-quantity, .order-product-name, .order-product-unit-price {
    padding: 1em;
}
.order-product-unit-price {
    color: gray;
}
.remove-item {
    float:right;
}

.info-column {
    min-width: 200px;
    max-width: 300px;
    height: 100px;
    display: inline;
    float: left;
}
.info-column-data {
    color: #626262;
}

/********** CHECKOUT PAGE ******/
.payment-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
}
.checkout-form {
    transition: height 0.5s ease;
    width: 35vw;
    min-width: 500px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.checkout-form-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.change-checkout-form {
    color: rgb(0,159,222);
    cursor: pointer;
    transition: hover 0.2s ease;
    text-decoration: underline;
}
.change-checkout-form:hover {
    color: rgba(0,159,222, 70%);
}
.checkout-form-container input, .checkout-form select{
    padding: 0.75rem;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    color: #30313d !important;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%);
    transition: outline 0.1s ease-out;
}
.checkout-form input:focus {
    outline: solid 3px #0573E13F;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 3%), 0px 3px 6px rgb(0 0 0 / 2%),0 0 0 3px var(hsla(210, 96%, 45%, 25%)), 0 1px 1px 0 var(rgba(0, 0, 0, 0.08));
}
.invalidInput {
    color: var(--error-color) !important;
    border-color: var(--error-color) !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02), 0 0 0 1px var(--error-color) !important;;
}
.checkout-form select{
    padding: 0.5em;
    height: 100%;
    font-size: 1em;
    color: #30313d;
}
#payment-form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
#email-input {
    width: 80%;
}

.first-last-name-container, .city-state-zip-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1em;
}
.name-container {
    width: 40%;
}
.name-container, .zip-container, .state-container, .city-container, .checkout-input {
    display:flex;
    flex-direction: column;
}
.address-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}
.address-container input {
    width: 100%;
}
.zip-container input {
    width: 6em;
}

.billing-collapsible {
    border: none;
    margin: 0;
    padding: 0;
}
.checkout-form-container p, .checkout-form-container label {
    font-size: 0.93rem;
    color: #30313d;
    margin-bottom: 0.25rem;
}
.save-default {
    padding-top: 1em;
}
.order-summary-cost-breakdown {
    line-height: 2em;
}
.order-summary-cost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.inline {
    display: inline;
}
.save-info {
    font: revert;
    color: inherit;
    background: lightgrey;
    margin-top: 0.5em;
}

/******** SUCCESS PAGE ******/
.thank-you-container {
    margin: 0 auto;
}

.order-summary-container, .order-summary {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.order-summary {
    padding: 40px;
    box-shadow: 0px 0px 0px 0.5px rgb(50 50 93 / 10%), 0px 2px 5px 0px rgb(50 50 93 / 10%), 0px 1px 1.5px 0px rgb(0 0 0 / 7%);
    border-radius: 7px;
}

.order-summary-billing p, .order-summary-shipping p{
    color: #30313d;
}


/******* ORDER PAGE ****/
.order-container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 80%;
    margin: 0 auto
}