<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Accept a payment</title>
    <meta name="description" content="A demo of a payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/checkout.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>
<!-- Display a payment form -->
    <section>
    <div class="payment-form-container">
        <div class="checkout-form-container checkout-form">
            <div class="checkout-form-heading">
                <h2 id="shipping-info-header">Shipping info</h2>
            </div>
            <form id="address-form">
                <div id="address-element">
                    <!-- Elements will create form elements here -->
                </div>
                <div id="saveAsDefault-container">
                    <label>Save as default
                    <input type="checkbox" name="saveAsDefault" id="saveAsDefault">
                    </label>
                </div>
            </form>
        </div>
        <div class="checkout-form-container checkout-form">
            <h2>Payment Details</h2>
            <form id="payment-form">
                <div class="checkout-input" style="display: none;">
                    <p for="email" class="p-FieldLabel Label Label--empty">Email</p>
                    <input type="text" id="email-input" placeholder="Enter email address" class="p-Input-input Input Input--empty"/>
                </div>
                <div id="payment-element">
                    <!--Stripe.js injects the Payment Element-->
                    <div class="loading-spinner" style="width: 15%; position:relative; left: 40%;"></div>
                </div>
            </form>
        </div>
        <div class="checkout-form-container">
            <h2>Order summary</h2>
            <div class="checkout-form order-summary-cost-breakdown">
                <h4 id="order-summary-item-count"></h4>
                <div class="checkout-subtotal order-summary-cost">
                    <span>Subtotal</span>
                    <span id="checkout-subtotal">Pending</span>
                </div>
                <div class="checkout-shipping order-summary-cost">
                    <span>Shipping</span>
                    <span id="checkout-shipping">Pending</span>
                </div>
                <div class="tax order-summary-cost">
                    <span>Tax</span>
                    <span id="checkout-tax">Pending</span>
                </div>
                <hr>
                <div class="total order-summary-cost">
                    <span><strong>Total</strong></span>
                    <span id="checkout-total"><strong>Pending</strong></span>
                </div>
                <button form="payment-form" id="submit"class="checkout-buttons">
                    <div class="spinner hidden" id="spinner"></div>
                    <span id="button-text">Place order</span>
                </button>
                <div id="payment-message" class="hidden"></div>
            </div>
        </div>
    </div>
    </section>
</body>

<script src="https://js.stripe.com/v3/"></script>
<script th:src="@{/js/checkout.bundle.js}" defer></script>
<script th:inline="javascript">
    const stripePublicKey = /*[[${stripePublicKey}]]*/ null;
    const userId = /*[[${userId}]]*/ '';
</script>
</html>