<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Grocery E-commerce</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>


    <div class="landing-page-hero"></div>
    <section class="product-catalog-section">
        <h1>All Products</h1>
        <div class="product-catalog-container">
            <ul id="product-catalog"></ul>
        </div>
    </section>
</body>
<script th:inline="javascript">
    const userId = /*[[${userId}]]*/ '';
    const isAuthenticated = /*[[${isAuthenticated}]]*/ false;
</script>
<script type="module" th:src="@{/js/index.bundle.js}" defer></script>
</html>