<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.getName()}"></title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <th:body th:replace="fragments :: navbar"></th:body>

    <section>
        <div class="product-container">
            <div class="product-image-container">
                <img th:src="${product.getImageUrl()}" th:alt="${product.getName()}">
            </div>
            <div class="product-info">
                <h1 th:text="${product.getName()}"></h1>
                <bold><p class="product-info-header">Details</p></bold>
                <p th:text="${product.getDescription()}">Delicious red apple full of nutrients to keep yourself healthy and promote long term health.</p>
            </div>
            <div class="add-to-cart-container">
                <h3 th:text="${#numbers.formatCurrency(product.getPrice())}"></h3>
                <p th:text="${product.getUnitMeasurement()}"></p>
                <div class="quantity-selector">
                    <span class="decrement-quantity" id="decrement-quantity-button">-</span>
                    <input type="number" name="quantity" form="add-to-cart-form" value="1">
                    <span class="increment-quantity" id="increment-quantity-button">+</span>
                </div>
                <form id="add-to-cart-form">
                    <input type="hidden" th:value="${product.getProductId()}" name="productId">
                    <input type="hidden" th:value="${product.getName()}" name="name">
                    <input type="hidden" th:value="${product.getPrice()}" name="price">
                    <input type="hidden" th:value="${product.getImageUrl()}" name="productImageUrl">
                </form>
                <button class="add-to-cart-button" type="button" form="add-to-cart-form" id="add-to-cart-button">Add to cart</button>
            </div>
        </div>
    </section>
    <section class="recommended-products">
        <h1>Placeholder for recommended products</h1>
    </section>
</body>
<script th:inline="javascript">
    const userId = /*[[${userId}]]*/ '';
    const isAuthenticated = /*[[${isAuthenticated}]]*/ false;
</script>
<script type="module" th:src="@{/js/product.bundle.js}" defer></script>
</html>