<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your account</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>

    <section class="account-section">
        <div class="account-details">
            <h2>Account Details</h2>
            <div class="account-info">
                <h4>Email</h4>
                <p th:text="${profile.getEmail()}" id="account-email"></p>
                <h4>First Name</h4>
                <p th:text="${profile.getFirstName()}" id="account-first-name"></p>
                <h4>Last Name</h4>
                <p th:text="${profile.getLastName()}" id="account-last-name"></p>
                <h4>Preferred Shipping Address</h4>
                <p th:text="${profile.getShippingAddress()}" id="account-shipping-address"></p>
            </div>
        </div>
    </section>
    <div class="orders-section">
        <div class="orders-container">
            <h2>Your orders at a glance</h2>
            <th:block th:each="order: ${orders}" th:insert="fragments :: order"></th:block>
        </div>
    </div>
</body>
</html>