<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your account</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>

    <section class="account-section">
        <div class="account-details">
            <h2>Account Details</h2>
            <div class="account-info">

            </div>
        </div>
    </section>
    <div class="orders-section">
        <div class="orders-container">
            <h2>Your orders at a glance</h2>
            <div class="orders">

            </div>
        </div>
    </div>
</body>
<script th:inline="javascript">
    const userId = /*[[${userId}]]*/ '';
</script>
<script type="module" th:src="@{/js/profile.bundle.js}" defer></script>
</html>