<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grocery E-commerce Shopping Cart</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <th:block th:replace="fragments :: navbar"></th:block>

    <section>
        <div class="shopping-cart-container">
            <div class="shopping-cart-heading">
                <h1>Shopping cart</h1>
            </div>
            <ul id="shopping-cart">

            </ul>
            <hr>
            <h2>Subtotal</h2>
            <h3 id="shopping-cart-subtotal"></h3>
            <a th:href="@{/checkout}"><button id="checkout-button">Checkout</button></a>
        </div>
    </section>

</body>

<script th:inline="javascript">
    const userId = /*[[${userId}]]*/ '';
</script>
<script type="module" th:src="@{/js/shoppingCart.bundle.js}" defer></script>
</html>