<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grocery E-commerce Shopping Cart</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <th:block th:replace="fragments :: navbar"></th:block>

    <section>
        <div class="shopping-cart-container">
            <div class="shopping-cart-heading">
                <h1>Shopping cart</h1>
            </div>
            <ul id="shopping-cart">
<!--                <li th:if="${error}"><h1>Uh oh! There was an issue loading your cart!</h1></li>-->
<!--                <li th:if="not ${error} and ${cart.getCartItems().isEmpty()}"><h1>Your shopping cart is empty</h1></li>-->
<!--                <th:block th:unless="not ${error} and ${cart.getCartItems().isEmpty()}" th:each="cartItem : ${cart.getCartItems()}" th:insert="fragments :: shopping-cart-item"></th:block>-->
            </ul>
            <hr>
            <h2>Subtotal</h2>
            <h3 id="shopping-cart-subtotal" th:text="${error} ? 0.00 :${#numbers.formatCurrency(cart.getSubtotal())}"></h3>
            <button id="checkout-button" th:if="not ${error} and not ${cart.getCartItems().isEmpty()}"onclick="checkout(cart)">Checkout</button>
        </div>
    </section>
    <form th:action="@{/checkout}" method="POST" id="checkout-form">
        <input type="hidden" name="cartString" id="cart">
    </form>

</body>

<script th:inline="javascript">
    const userId = /*[[${userId}]]*/ '';
</script>
<script type="module" th:src="@{js/app.js}" defer></script>
</html>