<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks for your order!</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <th:block th:replace="fragments :: navbar"></th:block>

    <section style="display: flex;">
        <div class="thank-you-container">
            <div class="loading-spinner" style="width: 15%; justify-self: center;"></div>
            <div class="order-summary-container">

            </div>
        </div>
    </section>
</body>
<script src="https://js.stripe.com/v3/"></script>
<script th:inline="javascript">
    const stripePublicKey = /*[[${stripePublicKey}]]*/ null;
    const userId = /*[[${userId}]]*/ '';
</script>
<script type="module" th:src="@{/js/success.bundle.js}" defer></script>
</html>