<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Accept a payment</title>
    <meta name="description" content="A demo of a payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/css/checkout.css}"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>
<!-- Display a payment form -->
    <section>
    <div class="payment-form-container">
        <form id="payment-form" class="checkout-form">
            <div id="payment-element">
                <!--Stripe.js injects the Payment Element-->
            </div>
            <button id="submit" class="checkout-buttons" onsubmit="">
                <div class="spinner hidden" id="spinner"></div>
                <span id="button-text">Pay now</span>
            </button>
            <div id="payment-message" class="hidden"></div>
        </form>
    </div>
    </section>
</body>

<script src="https://js.stripe.com/v3/"></script>
<script th:src="@{/js/checkout.js}" defer></script>
<script th:inline="javascript">
    var stripePublicKey = /*[[${stripePublicKey}]]*/ null;
    const items = /*[[${cartItems}]]*/ [];
    const customerId = /*[[${customerId}]]*/ '';
</script>
</html>