<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
<body>
<!---------------------------------- NAVBAR ------------------------->
    <th:block th:fragment="navbar">
        <nav>
            <div class="navbar">
                <div class="navbar-logo-container">
                    <a th:href="@{/}" class="logo">Ecommerce</a>
                </div>
                <div class="navbar-link-container">
                    <input class="menu-btn" type="checkbox" id="menu-btn" />
                    <label class="menu-icon" for="menu-btn" onclick="openNav()"><span class="nav-icon"></span></label>
                    <ul class="menu">
                        <li><a th:href="@{/}">Home</a></li>
                        <li class="list-dropdown">
                            <div class="dropdown">
                                <div class="dropbutton-container">
                                    <button class="dropbutton">Categories
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                                <p class="navbar-link-header">Categories</p>
                                <div class="dropdown-content">
                                    <th:block th:fragment="category-links">
                                        <a th:href="@{|/home?category=BAKED_GOODS|}">Baked goods</a>
                                        <a th:href="@{|/home?category=BEVERAGES|}">Beverages</a>
                                        <a th:href="@{|/home?category=BREAKFAST_AND_CEREAL|}">Breakfast & Cereal</a>
                                        <a th:href="@{|/home?category=CONDIMENTS|}">Condiments</a>
                                        <a th:href="@{|/home?category=DAIRY_AND_EGGS|}">Dairy & Eggs</a>
                                        <a th:href="@{|/home?category=DRY_GOODS|}">Dry goods</a>
                                        <a th:href="@{|/home?category=FROZEN_FOODS|}">Frozen foods</a>
                                        <a th:href="@{|/home?category=FRUIT_AND_PRODUCE|}">Fruit & Produce</a>
                                        <a th:href="@{|/home?category=HEALTH_AND_BEAUTY|}">Health & Beauty</a>
                                        <a th:href="@{|/home?category=MEAT_POULTRY_AND_SEAFOOD|}">Meat, Poultry, & Seafood</a>
                                        <a th:href="@{|/home?category=SPICES|}">Spices</a>
                                    </th:block>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="navbar-search-bar-container">
                    <input id="search-bar" placeholder="Search" type="search" name="searchTerm" >
                    <button type="button" ><i class="fa fa-search"></i></button>
<!--                    <form id="search-bar-form" onsubmit="refreshSearch()"></form>-->
                </div>

                <div class="account-links-container">
                    <ul class="account-links">
                        <li style="float:left;">
                            <div class="account-dropdown">
                                <div class="account-dropbutton-container">
                                    <button class="account-dropbutton">Account
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                </div>
                                <div class="account-dropdown-content">
                                    <p class="navbar-link-header">Account</p>
                                    <a class="dropdown-links" th:href="@{/profile}">Profile</a>
                                    <a class="dropdown-links" sec:authorize="!isAuthenticated()" th:href="@{/oauth2/authorization/auth0}">Login</a>
                                    <a class="dropdown-links" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a id="cart-link" th:href="@{/shoppingCart}"><i class="fa fa-shopping-cart" style="font-size:24px"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <p class="navbar-link-header">Categories</p>
            <th:block th:insert="fragments :: category-links">

            </th:block>
        </div>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "275px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </th:block>


<!---------------------------------- PRODUCT CATALOG ------------------------->

    <a th:href="@{|/product/${product.getName()}|}" th:fragment="product-overview">
        <li>
            <img th:src="${product.getImageUrl()}" th:alt="${product.getName()}">
            <h3 th:text="${#numbers.formatCurrency(product.getPrice())}" ></h3>
            <p th:text="${product.getName()}"></p>
        </li>
    </a>
<!---------------------------------- SHOPPING CART ITEM ------------------------->
    <li th:fragment="shopping-cart-item" class="shopping-cart-item">
        <div class="shopping-cart-item-div">
            <div class="order-product-image">
                <img th:src="${cartItem.getProductImageUrl()}" th:alt="${cartItem.getProductName()}">
            </div>
            <div class="order-product-name">
                <span><a th:href="@{|/product/${cartItem.getProductName()}|}" th:text="${cartItem.getProductName()}"></a></span>
            </div>
            <div class="order-product-quantity">
                <span th:text="|${cartItem.getQuantity()} Qty.|"></span>
            </div>
            <div class="order-product-unit-price">
                <span th:text="${#numbers.formatCurrency(cartItem.getProductPrice())}"></span>
            </div>
            <div class="remove-item">
                <button class="remove-item-button" type="button" th:onclick="removeFromCart([[${cartItem.getId()}]], [[${cartItem.getUserId()}]])"  form="remove-from-cart"><span class="remove-item-icon"></span></button>
            </div>
<!--            <form th:action="@{/shoppingCart}" method="POST" id="remove-from-cart">-->
            <form th:onsubmit="removeFromCart(${cartItem})" id="remove-from-cart">
<!--                <input type="hidden" th:value="${cartItem.getId()}" name="id">-->
<!--                <input type="hidden" th:value="${cartItem.getUserId()}" name="userId">-->
<!--                <input type="hidden" th:value="${cartItem.getProductId()}" name="productId">-->
            </form>
        </div>
    </li>

<!------------------------------ ORDERS ----------------------------------------------->
    <div th:fragment="order" class="order">
        <div class="order-info">
            <div class="info-column">
                <div class="info-column-description">
                    <span>Order Placed:</span>
                </div>
                <div class="info-column-data">
                    <span th:text="${order.getCreatedDate()}"></span>
                </div>
            </div>
            <div class="info-column">
                <div class="info-column-description">
                    <span>Order status:</span>
                </div>
                <div class="info-column-data">
                    <span th:text="${order.getStatus()}"></span>
                </div>
            </div>
            <div class="info-column">
                <div class="info-column-description">
                    <span>Order total:</span>
                </div>
                <div class="info-column-data">
                    <span th:text="${#numbers.formatCurrency(order.getOrderTotal())}"></span>
                </div>
            </div>
            <div class="info-column">
                <div class="info-column-description">
                    <span>Order number:</span>
                </div>
                <div class="info-column-data">
                    <span th:text="${order.getId()}"></span>
                </div>
            </div>
        </div>
        <div class="order-details" th:each="item : ${order.getOrderItems()}">
            <div class="order-product-image">
                <img th:src="${item.getImageUrl()}" th:alt="${item.getItemName()}">
            </div>
            <div class="order-product-name">
                <span><a th:href="@{|/product/${item.getItemName()}|}" th:text="${item.getItemName()}"></a></span>
            </div>
            <div class="order-product-quantity">
                <span th:text="|${item.getQuantity()} Qty.|"></span>
            </div>
            <div class="order-product-unit-price">
                <span th:text="${#numbers.formatCurrency(item.getUnitPrice())}"></span>
            </div>
        </div>
    </div>

</body>
</html>