<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Grocery E-commerce</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>


    <div class="landing-page-hero" th:style="'background: url(/images/grocery-hero-image.jpeg) no-repeat center center;'">
<!--        <img th:src="@{images/grocery-hero-image.jpeg}">-->
    </div>
    <section class="new-products">
        <h1>All Products</h1>
        <div class="product-catalog-container">
            <ul class="product-catalog"></ul>
        </div>
    </section>
</body>
<script th:inline="javascript">
    const products = /*[[${products}]]*/ '';
    const isAuthenticated = /*[[${isAuthenticated}]]*/ false;
</script>
<script type=text/javascript th:src="@{/js/index.js}"></script>
</html>