<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav th:replace="fragments :: navbar"></nav>

    <section class="account-section">
        <h2>Account Details</h2>
        <div class="account-details">
            <h4>Email</h4>
            <p th:text="${profile.getEmail()}"></p>
            <h4>First Name</h4>
            <p th:text="${profile.getFirstName()}"></p>
            <h4>Last Name</h4>
            <p th:text="${profile.getLastName()}"></p>
            <h4>Preferred Shipping Address</h4>
            <p th:text="${profile.getShippingAddress()}"></p>
        </div>
    </section>
    <section class="orders-section">
        <h2>Your orders</h2>
        <div class="orders">
            <label th:text="|Order Number:${orders.get(0).getId()}|"></label>
            <table>
                <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="orderItem : ${orders.get(0).getOrderItems()}">
                        <td th:text="${orderItem.getItemName()}"></td>
                        <td th:text="${orderItem.getQuantity()}"></td>
                        <td th:text="${#numbers.formatCurrency(orderItem.getUnitPrice())}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>