@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background: white;
}
a {
    color: black;
}

.navbar a {
    color: #ffffff;
}



section {
    padding-top: 6em;
    padding-bottom: 6em;
    margin-bottom: 6em;
}

.navbar {
    background-color: #46702c;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}


.navbar-link-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navbar-search-bar-container {
    min-width: 40%;
    flex-grow: 1;
    display: flex;
}
.navbar-search-bar-container button {
    float: right;
    padding: 6px 10px;
    margin: 14px 0;
    border: solid thin gray;
    border-radius: 0 5px 5px 0;
    background: #ddd;
    font-size: 17px;
    cursor: pointer;
}
.navbar-search-bar-container button:hover {
    background: #ccc;
}

#search-bar {
    width: 100%;
    margin: 14px 0;
    padding: 0.75em;
    border-radius: 5px 0 0 5px;
    border: solid thin gray;
    outline: none;
    transition: all 0.1s ease;
}
#search-bar:focus {
    border: solid thin #3a3a3a;
}


.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #46702c;
}
.navbar ul li {
    display: block;
}

.navbar ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
.menu li:hover, .dropdown-content a:hover, .account-links li:hover, .list-dropdown:hover, .dropdown-links:hover {
    background-color: #375922;
}

.navbar .logo {
    float: left;
    display: block;
    font-size:2em;
    padding: 10px 20px;
}

.menu {
    display: none;
    max-height: 0;
}



.navbar .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.navbar .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
}

.navbar .menu-icon .nav-icon:before {
    background: #333;
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    top:5px;
}

.nav-icon:after {
    background: #333;
    content:"";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.menu-btn {
    display: none;
}

.dropbutton-container {
    display: none;
}

.navbar-link-header {
    display: block;
    color: gray;
}

.dropdown-content, .account-dropdown-content {
    display: none;
}
.dropdown-content a, .menu li, .list-dropdown, .account-links li, .dropdown-links {
    transition: all 0.2s ease;
}


.dropdown .fa-caret-down {
    visibility: hidden;
}
.account-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.account-button {
    padding:0;

}
.account-dropdown {
    padding: 0;
}
.account-dropbutton-container {
    padding: 20px;
}
.account-dropdown, .account-dropbutton-container, .account-dropbutton {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: inherit;
    font-family: inherit;
    margin: auto;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #46702c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav-header {
    display: block;
    color: rgb(255 211 149);
    padding: 8px 8px 8px 32px;
    font-size: 22px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #375922;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


@media (min-width:1058px) {
    .navbar li {
        float: left;
        /*border-right: 1px solid #aaa;*/
    }
    .navbar li a {
        padding:20px 30px;
    }
    .list-dropdown, .dropdown {
        padding: 0;
    }

    .navbar .menu {
        display: block;
        clear: none;
        float: right;
        max-height: none;
    }
    .navbar .menu-icon {
        display: none;
    }
    .dropdown .fa-caret-down {
        visibility: visible;
    }
    .dropbutton-container {
        display: block;
    }

    .dropdown .dropbutton-container .dropbutton {
        font-size: 16px;
        border: none;
        outline: none;
        color: #ffffff;
        background-color: inherit;
        font-family: inherit;
        margin: auto;
    }
    .dropdown .dropbutton-container {
        padding: 20px;
    }


    .dropdown-content, .account-dropdown-content {
        position: absolute;
        background-color: #46702c;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        float: none;
        color: #ffffff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #375922;
    }

    .dropdown:hover .dropdown-content, .account-dropdown:hover .account-dropdown-content {
        display: block;
    }
}

.landing-page-hero {
    width: 100%;
    padding-top:4em;
    height: 500px;
}




.new-products {
    margin:0;
    padding:5em;
}
.product-catalog-product-card {
    display:flex;
    flex-direction: column;
    height:300px;
}

.product-catalog  {
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product-catalog-product-card li{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    background: white;
    list-style: none;
    width: 200px;
    height: 100%;
    float:left;
    border:none;

    text-align: center;
}
.product-catalog-product-card li a {
    text-decoration: none;
}
.product-catalog-product-card li:hover .product-name h3{
    text-decoration: underline;
}

.product-catalog-product-card li:hover {
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
    transition: all 0.2s ease-out;
}


.product-catalog-product-image {
    width: 100px;
    height: 100px;
    border-radius: 10%;

}

.new-products .product-price-unit-description {
    margin: 0;
    padding-left: 5px;
    text-align: left;
}

.new-products .product-name {
    margin: auto 0 ;
    padding-left: 5px;
    padding-bottom: 1px;
    text-align: left;
}

.product-catalog-add-to-cart-button {
    background-color: #470;
    color: white;
    border: none;
    border-radius: 2px;
    width: 100%;
    padding: 0.5em;
    cursor:pointer;
    transition: all 0.2s ease;
}

.product-catalog-add-to-cart-button:hover {
    background-color: #559400;
}

/************************* SHOPPING CART ****************/
#checkout-button {
    float: right;
    padding: 1em 2em;
    background: rgba(227,143,29);
    margin: 1em 0;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 50%);
}

#checkout-button:hover {
    cursor: pointer;
    background: rgba(227,143,29, 70%);
}


.shopping-cart {
    min-width: 48em;
    min-height:12em;
    margin: 1em 10%;
    width: 80%;
    background: white;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.7);
    list-style: none;
    flex-wrap: wrap;
    border-radius: 20px;
}

.shopping-cart .shopping-cart-heading {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shopping-cart .shopping-cart-heading h1 {
    font-size: 20px;
    font-family: ‘Open Sans’, sans-serif;
    font-weight: 700;
    color: #2F3841;
}
.shopping-cart .shopping-cart-item-container {
    margin: 0;
    padding: 0 2em;
    list-style: none;
}
.shopping-cart hr {
    width: 95%;
}

.shopping-cart h2 {
    font-size: 1.25em;
    color: gray;
    padding: 5px 2em;
    margin: 0;
}
.shopping-cart h3 {
    margin:0;
    padding: 0 2.5em 10px;
}

.remove-item-button {
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    margin: auto;
}

.remove-item-icon:after {
    background: rgb(253, 70, 70);
    content: "";
    display: block;
    height: 2px;
    width: 18px;
    position: absolute;
    transform: rotate(-45deg);
}
.remove-item-icon:before {
    background: rgb(253, 70, 70);
    content: "";
    display: block;
    height: 2px;
    width: 18px;
    position: absolute;
    transform: rotate(45deg);
}


/************* PRODUCT PAGE *********/
.product-container {
    margin: 0 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.product-image-container {
    padding: 3em;
    display: flex;
    position: relative;
    float: left;
    min-width: 200px;
    min-height: 200px;
    height: 200px;
    width: 200px;
}
.product-image-container img {
    width: 100%;
    height: 100%;
}
.product-info {
    width: 40%;
    border: none;
    border-radius: 1em;
    padding: 3em;
    display: block;
    position: relative;
    float: left;
}
.product-info-header {
    color: gray;
}
.add-to-cart{
    margin: 1em;
    display: block;
    position: relative;
    float: left;
    border: solid thin gray;
    border-radius: 1em;
    padding: 2em;
}
.quantity-selector {
    display: block;
    position: relative;
    float: left;
    margin: 8px;
}
.quantity-selector input {
    border: none;
    width: 50px;
    font-size: 1.25em;
    line-height: 30px;
    text-align: center;
    appearance: none;
    outline: none;
}

.quantity-selector input[type=number]::-webkit-inner-spin-button,
.quantity-selector input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.decrement-quantity, .increment-quantity {
    font-size: 1.5em;
    user-select: none;
    cursor: pointer;
    color: gray;
    background: none;
    padding: 10px;
}

.add_to_cart_button {
    display: block;
    position: relative;
    float: left;
    width: 150px;
    height: 50px;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: .5em;
    background: darkgreen;
    transition: all 0.5s ease;
    cursor: pointer;
}

.add_to_cart_button:hover {
    background: lightgreen;
}

.recommended-products {
    clear: left;
}
/************************ Profile *********************/
.account-section {
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 3em;
    margin-bottom: 0;
}
.account-details,.orders-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.account-info {
    padding: 4em;
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 5px;
    border-radius: 5%;
}

.account-info h4 {
    text-decoration: underline;
}



/************************ Order **********************/
.orders-section {
    padding: 3em 4em;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
    border-radius: 20px;
    width: 800px;
    margin: 1em;
    box-shadow: 1px 1px 5px;
}

.order-info {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em;
    border-bottom: solid gray thin;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #f6f6f6;

}

.order-details, .shopping-cart-item-div{
    display: flex;
    align-items: center;
    padding: 1em;
    width:100%;
    border-collapse: collapse;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.order-product-image img{
    width: 100px;
    height: 100px;
}
.order-product-name {
    width: 400px;
}
.order-product-name span {
    overflow-wrap:break-word;
}
.order-product-name a{
    color: steelblue;
    transition: color 0.25s ease;
    text-decoration: none;
}
.order-product-name a:hover {
    color: rgba(70,130,180, 50%);
}
.order-product-quantity, .order-product-name, .order-product-unit-price {
    padding: 1em;
}
.order-product-unit-price {
    color: gray;
}
.remove-item {
    float:right;
}

.info-column {
    min-width: 200px;
    max-width: 300px;
    height: 100px;
    display: inline;
    float: left;
}
.info-column-data {
    color: #626262;
}



